*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    
}
header{
    background:url(../imgs/banner.gif);
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    position: relative;
}
header nav.bg-dark{
    background: rgba(27,39,61,.95) !important;
}
header #time{
    position: absolute;
    top:50%;
    left:0;
    color:#fff;
    display: flex;
    width:100%;
    padding:60px;
    font-style: italic;
    font-weight:bolder;
    font-family: 'Playfair Display', serif;
}
header #time .box{
    width:calc(100% / 4);
    text-align: center;
    line-height: 60px;
}
header #time .box p:nth-child(1){
    font-size: 150px;
    font-weight: 900;
}
header nav ul li a{
    color: #fff !important;
    opacity: .8;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 0.06rem;
}
header nav ul li{
    margin: 10px;
}
header nav ul li a:hover
{
    transform: scale(120%);
    color: #00cec9 !important;
    opacity: 1;
}
header .navbar{
    padding:0 80px;
    
}
.btn-buy{
    background: #e0e721;
    margin-left: 20px;
    color: #4a25aa;
    font-size: 17px;
    font-weight: 500;
    border: none;
    padding: 10px 30px;
    outline: none;
    border-radius: 5px;
    transition: all .2s linear;
}
.btn-buy:hover{
    border-radius: 20px;
    color: white;
    transform: scale(110%);
} 
@media screen and (max-width: 800px) {
    header #time .box p:nth-child(1){
        font-size: 70px;
    }
    header #time{
        padding:40px;
    }
  }
@media screen and (max-width: 600px) {
    header #time .box p:nth-child(1){
        font-size: 60px;
    }
    header #time{
        padding:30px;
    }
    header #time .box{
        line-height: 20px;
    }
  }

  @media screen and (max-width: 420px) {
    header #time .box p:nth-child(1){
        font-size: 30px;
    }
    header #time{
        padding:35px;
    }
    header #time .box{
        line-height: 10px;
    }
  }

  header img{
    height: 60px;
    transition: 3.5s;
    animation: span 2s linear infinite alternate;
  }

  @keyframes span {
    50%{
        transform: scale(120%);
    }
    
    100%{
        transform: scale(100%);
    }
    /* 100%{
        transform:perspective(5000px) rotateY(-180deg) ;
    } */
}
.outer {
    background-color: pink;
    width: 300px;
    color: #fff !important;
    position: relative;
    display: inline-block;
    margin: 100px 20px;
    top: 50%;
    left: 83%;
    border: none;
  }
  
  .inner {
    font-size: 9px;
    color: white !important;
    position: absolute;
    top: 30%;
    left: 42%;
    border: none;
  }
  
  .rotate {
    -moz-transform: translateX(-50%) translateY(-50%) rotate(-90deg);
    -webkit-transform: translateX(-50%) translateY(-50%) rotate(-90deg);
    transform:  translateX(-50%) translateY(-50%) rotate(-90deg);
  }
  
  .scroll{
    border: none;
    padding: 10px 10px;
    border-radius: 20px;
    background: white;
    font-weight: 600;

  }

  #sidebar{
    display: flex;
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 20%;
    left: 0;
}

#sidebar .left{
    display: block;
    padding: 30px;
    top: 0;
    width: 30%;
    background: transparent;
   border-radius: 20px;
    transition: 1s;
    transform: translateX(-100%);
   position: absolute;
}

#sidebar .left p:nth-child(2){
    color: #ff7979;
    font-size: 20px;
    font-weight: bolder;
}
#sidebar .left p:nth-child(3){
    color: #fff;
    font-weight: bolder;
    font-size: 15px;
}
#sidebar .right{
    top: 0;
    width: 70%;
    background: transparent;
    transition: 1s;
    transform: translateX(100%);
}

.left{
    display: flex;
    justify-content: flex-end;
}
#shut{
    right: 0;
    width: 40px;
    height: 40px;
    display: none;
    
}

@media  screen and (max-width: 420px) {
 body {
    background-color: lightblue;
    }
    #sidebar .left p:nth-child(2){
        color: #ff7979;
        font-size: 20px;
        font-weight: bolder;
    }
    #sidebar .left p:nth-child(3){
        color: #fff;
        font-weight: bolder;
        font-size: 15px;
    }
    #sidebar .left{
        width: 80%;

    }
    #sidebar .right{
        display: none;
    }
    #shut{
    display: block;
    }
}

#vd1{
    height: 100vh;

}